<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cheapest</title>
</head>
<body>
  <h3>好乐买</h3>
  <form action="/okbuy/product">
    <label for="url">url</label>
    <input type="text" id="url">
    <label for="email">email</label>
    <input type="text" id="email">
    <input type="submit" value="确定">
  </form>

  <h3>电影天堂</h3>
  <form action="/movie">
    <label for="email">email</label>
    <input type="text" value="确定">
  </form>
</body>
</html>
