<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>handsome</title>
  <style>
    body {
      display: flex;
    }
    #okbuy,#watchers,#voice {
      flex: 1;
    }
  </style>
</head>
<body>
  <div id="okbuy">
    <h3>okbuy</h3>
    <form action="/okbuy/product">
      <label for="url">url</label>
      <input type="text" id="url">
      <label for="email">email</label>
      <input type="text" id="email">
      <input type="submit" value="确定">
    </form>
  </div>
  <div id="watchers">
    <h3>subscribe movie</h3>
    <form action="/api/movie/add" method="POST">
      <label for="email">email</label>
      <input id="email" name="email" type="text">
      <input type="submit" value="确定">
    </form>
    <ul>
      <li v-for="(item, index) in watchers">{{ item.email }}</li>
    </ul>
  </div>
  <div id="voice">
    <h3>get voice here</h3>
    <input id="url" type="text" placeholder="key the url in" v-model="url">
    <input id="submit" type="submit" value="confirm" @click="submit">
    <div id="download">
      <div v-for="(item,index) in downloadList">
        <a :href="item.url" :download="item.name">{{item.name}} download</a>          
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.3/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
  <script>
    // movie
    new Vue({
      el: '#watchers',
      data: function() {
        return {
          watchers: []
        }
      },
      created: function() {
        axios.get('/api/watcher/list').then(data => {
          console.log(data.data)
          this.watchers = data.data.data
        })
      }
    })
    // okbuy
    new Vue({
      el: '#okbuy',
      data: function() {
        return {

        }
      },
      created: function() {
        
      }
    })
    // voice
    new Vue({
      el: '#voice',
      data: function() {
        return {
          url: '',
          downloadList: []
        }
      },
      methods: {
        submit: function() {
          axios.post('/api/voice', {data: { url: this.url }})
            .then(res => {
              console.log(res)
              this.downloadList.push(res.data)
            })
        }
      }
    })
  </script>
</body>
</html>